<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - El Ciprés</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

    <!-- FONDO -->
    <div class="fondo">

        <!-- CONTENEDOR PRINCIPAL -->
        <div class="login-container">

            <!-- LADO IZQUIERDO -->
            <div class="login-left">
                <p>Agrupación de Vivienda</p>
                <h1>El Ciprés</h1>
            </div>

            <!-- LADO DERECHO -->
            <div class="login-right">

                <!-- FORMULARIO -->
                <form action="http://127.0.0.1:5000/login" method="POST">
                    <label>Correo</label>
                    <input type="email" name="correo" placeholder="Ingresa tu correo" required>
                    <label>Contraseña</label>
                    <input type="password" name="contrasena" placeholder="Ingresa tu contraseña" required>
                    <button type="submit">Ingresar</button>
                </form>

                <div class="extras">
                    <a href="#">Registrar</a>
                    <a href="#">¿Ha olvidado su contraseña?</a>
                </div>

            </div>

        </div>

    </div>

</body>
</html>